.p-3{
    height: 80px;
    background-color: #e7c371;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}
.me-2{
    margin-right: clamp(0.5rem, 1rem, 1.5rem);
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #8c6239e8;
}